In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url='http://cndc.produccion.gob.ar/'
response=requests.get(url)
html=response.content
scraped=BeautifulSoup(html,'html.parser')

In [3]:
scraped.title

In [4]:
link=scraped.find('td', class_='views-field views-field-title')

In [5]:
link.text.strip()

'Recurso de hecho deducido por el Estado  Nacional - Ministerio de Hacienda y Finanzas Públicas de la  Nación en la causa Imputado: Ford Argentina S.A. y otro s/ apel.  resol. Comisión Nac. Defensa de la Compet.'

In [6]:
nombres= scraped.find_all('td', class_='views-field views-field-title')

In [7]:
#rellenar una lista
nombres1=[]

for nombre in nombres:
    nombre=nombre.text.strip()
    nombres1.append (nombre)

In [8]:
dictamenes= scraped.find_all('td', class_='views-field views-field-field-dictamen')
dictamenes

[<td class="views-field views-field-field-dictamen">
 </td>,
 <td class="views-field views-field-field-dictamen">
             1108          </td>,
 <td class="views-field views-field-field-dictamen">
             100502933          </td>,
 <td class="views-field views-field-field-dictamen">
             106433714          </td>,
 <td class="views-field views-field-field-dictamen">
 </td>,
 <td class="views-field views-field-field-dictamen">
 </td>,
 <td class="views-field views-field-field-dictamen">
             64324350          </td>,
 <td class="views-field views-field-field-dictamen">
             80279699          </td>,
 <td class="views-field views-field-field-dictamen">
             68209365          </td>,
 <td class="views-field views-field-field-dictamen">
             68874979          </td>]

In [9]:
#convertir nros a df
nros=[]
for dictamen in dictamenes:
    nro= dictamen.text.strip()
    nros.append(nro)

nros= [int (i) if i.strip() else 0. for i in nros]
nros

[0.0,
 1108,
 100502933,
 106433714,
 0.0,
 0.0,
 64324350,
 80279699,
 68209365,
 68874979]

In [10]:
type(nros)

list

In [11]:
resoluciones= scraped.find_all('td', class_='views-field views-field-field-resoluci-n')
resoluciones

[<td class="views-field views-field-field-resoluci-n">
 </td>,
 <td class="views-field views-field-field-resoluci-n">
             30          </td>,
 <td class="views-field views-field-field-resoluci-n">
             22          </td>,
 <td class="views-field views-field-field-resoluci-n">
             21          </td>,
 <td class="views-field views-field-field-resoluci-n">
 </td>,
 <td class="views-field views-field-field-resoluci-n">
 </td>,
 <td class="views-field views-field-field-resoluci-n">
             574          </td>,
 <td class="views-field views-field-field-resoluci-n">
             540          </td>,
 <td class="views-field views-field-field-resoluci-n">
             630          </td>,
 <td class="views-field views-field-field-resoluci-n">
             649          </td>]

In [12]:
#convertir nros a df
resoluciones1=[]

for resolucion in resoluciones:
    resolucion= resolucion.text.strip()
    resoluciones1.append(resolucion)

resoluciones1= [int (i) if i.strip() else 0. for i in resoluciones1]
resoluciones1

[0.0, 30, 22, 21, 0.0, 0.0, 574, 540, 630, 649]

In [13]:
fechas= scraped.find_all('td', class_='views-field views-field-field-fecha')
fechas

[<td class="views-field views-field-field-fecha">
 </td>,
 <td class="views-field views-field-field-fecha">
 <span class="date-display-single" content="2015-03-03T00:00:00-03:00" datatype="xsd:dateTime" property="dc:date">03-03-2015</span> </td>,
 <td class="views-field views-field-field-fecha">
 <span class="date-display-single" content="2020-01-30T00:00:00-03:00" datatype="xsd:dateTime" property="dc:date">30-01-2020</span> </td>,
 <td class="views-field views-field-field-fecha">
 <span class="date-display-single" content="2020-01-30T00:00:00-03:00" datatype="xsd:dateTime" property="dc:date">30-01-2020</span> </td>,
 <td class="views-field views-field-field-fecha">
 </td>,
 <td class="views-field views-field-field-fecha">
 </td>,
 <td class="views-field views-field-field-fecha">
 <span class="date-display-single" content="2019-09-19T00:00:00-03:00" datatype="xsd:dateTime" property="dc:date">19-09-2019</span> </td>,
 <td class="views-field views-field-field-fecha">
 <span class="date-display-single" content="2019-09-11T00:00:00-03:00" datatype="xsd:dateTime" property="dc:date">11-09-2019</span> </td>,
 <td class="views-field views-field-field-fecha">
 <span class="date-display-single" content="2019-09-30T00:00:00-03:00" datatype="xsd:dateTime" property="dc:date">30-09-2019</span> </td>,
 <td class="views-field views-field-field-fecha">
 <span class="date-display-single" content="2019-10-04T00:00:00-03:00" datatype="xsd:dateTime" property="dc:date">04-10-2019</span> </td>]

In [14]:
fechas1=[]
for fecha in fechas:
    fecha= fecha.text.strip()
    fechas1.append(fecha)

fechas1= pd.DataFrame (fechas1)
fechas1[0]= pd.to_datetime(fechas1[0]) 
fechas1.info()

#no se sacar los nulos. El fillna me crea muchos 0 que no necesito.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       7 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 208.0 bytes

In [15]:
tipos= scraped.find_all('td', class_='views-field views-field-field-tipo-de-documento')
tipos

[<td class="views-field views-field-field-tipo-de-documento">
 </td>,
 <td class="views-field views-field-field-tipo-de-documento">
             Concentraciones          </td>,
 <td class="views-field views-field-field-tipo-de-documento">
             Concentraciones          </td>,
 <td class="views-field views-field-field-tipo-de-documento">
             Concentraciones          </td>,
 <td class="views-field views-field-field-tipo-de-documento">
 </td>,
 <td class="views-field views-field-field-tipo-de-documento">
             Conductas          </td>,
 <td class="views-field views-field-field-tipo-de-documento">
             Conductas          </td>,
 <td class="views-field views-field-field-tipo-de-documento">
             OPI          </td>,
 <td class="views-field views-field-field-tipo-de-documento">
             OPI          </td>,
 <td class="views-field views-field-field-tipo-de-documento">
             OPI          </td>]

In [16]:
tipos1=[]
for tipo in tipos:
    tipo= tipo.text.strip()
    tipos1.append(tipo)

tipos1= [str (i) if i.strip() else "N/A" for i in tipos1]
##fechas1[0]= pd.to_datetime(fechas1[0]) 
##fechas1.info()

In [17]:
#lo ideal es armar un diccionario. 
#pero concateno listas para formar un data frame
Nombre_dictamen = pd.DataFrame(nombres1)
Nro_dictamen= pd.DataFrame(nros)
Nro_resolucion=pd.DataFrame(resoluciones1)
Tipo=pd.DataFrame(tipos1)

In [18]:
result = pd.concat([Nombre_dictamen, Nro_dictamen, Nro_resolucion,fechas1,Tipo], axis=1, sort=False,ignore_index=True)
result.rename(columns={0: 'Nombre dictamen', 1: 'Nro Dictamen', 2:'Nro Resolucion', 3:'Fecha', 4:'Tipo'}, inplace=True)
result
###results.to_csv('results.csv')

,Nombre dictamen,Nro Dictamen,Nro Resolucion,Fecha,Tipo
0,Recurso de hecho deducido por el Estado Nacio...,0.0,0.0,NaT,N/A
1,"ANGEL JORGE ANTONIO CALCATERRA, LATINA DE INFR...",1108.0,30.0,2015-03-03,Concentraciones
2,L3N S.A. Y SANCOR COOPERATIVAS UNIDAS LIMITADA...,100502933.0,22.0,2020-01-30,Concentraciones
3,"FRAS-LE S.A., MARCELO PASSAGLIA PARACCHINI, BE...",106433714.0,21.0,2020-01-30,Concentraciones
4,GRISU S.A. Y OTRO C/ ESTADO NACIONAL,0.0,0.0,NaT,N/A
5,CIRCULO ODONTOLOGICO DE JUJUY c/ MECON - SC S/...,0.0,0.0,NaT,Conductas
6,CÍRCULO DE BIOQUÍMICOS DE LA PCIA. DE MISIONES...,64324350.0,574.0,2019-09-19,Conductas
7,DASS ARGENTINA S.R.L. Y DASS ELDORADO S.R.L. S...,80279699.0,540.0,2019-11-09,OPI
8,LIMONEIRA COMPANY Y FGFTRAPANI S.A. S/ OPINIÓN...,68209365.0,630.0,2019-09-30,OPI
9,IRSA INVERSIONES Y REPRESENTACIONESSOCIE...,68874979.0,649.0,2019-04-10,OPI

In [19]:
##https://medium.com/better-programming/how-to-scrape-multiple-pages-of-a-website-using-a-python-web-scraper-4e2c641cff8